body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f44336; 
    position: relative;
}

.container {
    text-align: center;
    position: relative;
}

.button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
}

.yes {
    background-color: #4CAF50; /* Verde */
    color: white;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.no {
    background-color: #f44336;
    color: white;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* Estilo para a mensagem fofa */
#message-container {
    font-size: 24px;
    color: #fff;
    background-color: #4CAF50; 
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

.hidden {
    display: none;
}
